<h1>It's time to shorten that long url...</h1>
<br>
<h2>Shorten you url here:</h2>

<form method="post" action="/urls">
	
	<input type="url" name="url" placeholder="Your long url"/>
	<input type="submit" value="Shorten"/>
</form>